.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 95%;
    height: 10vh;
}

.navIcon {
    height: fit-content;
    width: fit-content;
}

.nav {
    margin: 2rem;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(12, 12, 10, 0.8);
    width: 95vw;

    a {
        font-size: 1.4rem;
        margin: 1rem;
        text-decoration: none;
        color: rgba(12, 12, 10, 0.8);
    }
}
