@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", helvetica, san-serif;
  background-color: rgb(253, 251, 255);
}
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: #4a4a4a;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.1rem;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #4a4a4a;
}